.Board{
  padding-top: 30px;
  background-color: inherit;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.wrap{
  display: inline-block;
  white-space: nowrap;
  padding: 0;
}
