.Cards {
  // layout
  width:330px;
  height: 100%;
  overflow: auto;
  display:inline-block;
  // style
  text-align: left;
  background-color: #F0F3F5;
  margin-left: 30px;
  border-radius: 6px;
  .head{
    overflow: auto;
    padding: 15px;

    .headIcon{
      width: 56px;
      height: 56px;
      float: left;
    }
    .headTitle{
      margin-left: 15px;
      font-size: 18px;
      color: #515C63;
      float: left;
      line-height: 56px;
    }
    .headOption{
      line-height: 56px;
      &::after{
        content: "";
        width: 22px;
        height: 22px;
        float: right;
        line-height: 56px;
        background: url(./../assets/more-horizontal.png);
        background-size: cover;
      }
    }
  }
  .wrap{
    margin: 0 auto;
    height: 100%;
    width: 300px;
    overflow-y: scroll;
  }
}
