.Card {
  /* layout */
  height: 100px;
  margin-top: 8px;
  padding: 15px;
  overflow: hidden;
  position: relative;
  line-height: 1;
  /* style */
  background-color: #56B6EB;
  color: #ffffff;
  border-radius: 6px;
  .card-avatar{
    /* layout */
    float: left;
    width: 50px;
    height: 50px;
    /* style */
    img{
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }
  .card-contents{
    float: left;
    margin-left: 15px;
    li{
      line-height: 1;
    }
    .card-title{
      /* layout */
      font-size: 17px;
      margin-top: 5px;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      /* style */
    }
    .card-location{
      font-size: 13px;
      margin-top: 5px;
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-notification{
      position: relative;
      font-size: 13px;
      margin-top: 10px;
      color: #dff2ff;
      padding-left: 20px;
      &::before{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        width: 15px;
        height: 15px;
        background-image: url(./../assets/icon/pushon.png);
      }
    }
  }
  .card-lasttime{
    /* layout */
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 10px;
    /* style */
  }

}
